html, body {
    margin: 0;
    padding: 0;
 overflow-x: hidden;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

#chart {
    background: #f8f8f8;
    height: 82vh;
    position: relative;
    margin-bottom: 24px;
}
#current {
    position: absolute;
    top:0;
    left: -10em;
    background: #989898;
    display: block;
    width: 1px;
    height: 100%;
}
#current:after {
    position: absolute;
    content: attr(data-x);
    margin-top: 16px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.333);
    padding: 4px 8px;
    border-radius: 0 5px 5px 5px;
    margin-left: 2px;
    font-size: 1.2em;
}

#chart {vector-effect: non-scaling-stroke;}
.table-y {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.table-x {
    position: absolute;
    left: 0;
    bottom: calc(-1em - 2px);
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
#chart svg {
    position: absolute;
    z-index: 2;
}

.table-y tr td {
    border-bottom: 1px solid #989898;
    vertical-align: bottom;
}

.table-x tr:last-child td {
    height: 1em;
    padding: 0;
    text-align: right;
    border-right: 1px dotted red;
}


#chartNav {
    background: #fff;
    height: 8vh;
    overflow: hidden;
    position: relative;
}
#chartNav polyline {
    stroke-width: 3;
    fill: none;
    vector-effect: non-scaling-stroke;
}
#chart polyline {
    fill: none;
    stroke-linejoin: round;
    animation:transform 1.5s linear forwards;
}

#chartNavMarker {
    position: absolute;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
    top: -1px;
    height: 100%;
    width: 100px;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0 0 0 999em rgba(0,0,0,0.123);
    cursor: grab;
}

#chartNavMarker:before, #chartNavMarker:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.13333);
    cursor: ew-resize;
}

#chartNavMarker:before {
    left: -5px;
}

#chartNavMarker:after {
    left: 100%;
    margin-left: -5px;
}

.toolbarLabel  {

    display: inline-block;
    line-height: 24px;
    margin: 8px 16px 8px 0;
    user-select: none;
    cursor: pointer;
}

.toolbarLabel input {
    position: absolute;
    left:-9999em;
}

.toolbarLabel span {
    margin-right: 8px;
    width: 24px;
    height:24px;
    box-sizing: border-box;
    display: inline-block;
    border-width: 12px;
    border-style: solid;
    border-radius: 50%;
    position: relative;
    transition: border-width .25s linear;
    float: left;
}


.toolbarLabel span:after {
    position: absolute;
    width: 0.5em;
    height: 0.3em;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -0.3em 0 0 -0.3em;
    content: ' ';
}

.toolbarLabel input:not(:checked)+span {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    position: relative;
}

svg {
    margin: 0;
    padding: 0;
}