html, body {
    margin: 0;
    padding: 0;

}

#chart {
    background: #f8f8f8;
    height: 72vh;
    overflow: hidden;
    position: relative;
}
#chart {vector-effect: non-scaling-stroke;}

#chartNav {
    background: #fff;
    height: 18vh;
    overflow: hidden;
    position: relative;
}
#chartNav polyline {
    stroke-width: 3;
    fill: none;
    vector-effect: non-scaling-stroke;
}
#chart polyline {
    stroke-width: 1;
    fill: none;
    stroke-linejoin: round;
}

#chartNavMarker {
    position: absolute;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575;
    top: -1px;
    height: 100%;
    width: 100px;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0 0 0 999em rgba(0,0,0,0.23);
    cursor: grab;
}

#chartNavMarker:before, #chartNavMarker:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.13333);
    cursor: ew-resize;
}

#chartNavMarker:before {
    left: -5px;
}

#chartNavMarker:after {
    left: 100%;
    margin-left: -5px;
}

svg {
    margin: 0;
    padding: 0;
}