.dark-primary-color    { background: #D32F2F; }
.default-primary-color { background: #F44336; }
.light-primary-color   { background: #FFCDD2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

html, body { width:100%; height:100%; margin:0; padding:0; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; fint-size:14px; color:#343434;}

.text-center {text-align:center;}


.header { border-bottom: 1px solid #BDBDBD; padding-bottom:8px; margin-bottom:16px;}

.btn {

	margin:8px 6px;
	margin-left:0;
	border: none;
	border-radius:2px;
	padding:8px 16px;
	line-height: 20px;
    min-width: 88px;
	font-size:14px; 
	font-weight: 400;
	cursor: pointer;
    display: inline-block;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	outline: none;
	color:#343434;
	background-color:#fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1);
	-webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 { font-weight: 200; margin: 16px 0 8px 0 }
h1 { font-size: 63px; }
h2 { font-size: 48px; }
h3 { font-size: 34px; }
h4 { font-size: 26px; }
h5 { font-size: 23px; }

p {margin-bottom:16px;}
.btn:hover, .btn:focus, .btn:active {
	color:#000;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.btn.btn-primary {
	background-color:#F44336;
	color:#fff;
}
.btn.btn-primary:hover {background:#D32F2F}


.btn-default:hover {
	background: #F44336;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.full-centred {
	height:100%;
	display: flex;
	justify-content:center;
	align-items:center;

}

#content {
	height:100%;
}





input, select {
  height: 40px;
  box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)!important;
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background: #fff;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
}

.form-group {}


.form-group label { margin: 8px 0 8px 0; display:block; font-size:0.8em; }
.form-group input, .form-group select {  width:100%; margin-bottom: 16px;}
input[type='checkbox'] { display: inline-block; width:24px; height:24px; margin-top:8px; margin-right:8px; }

.checkbox { line-height:24px; display: flex;}
.checkbox label {display:inline-block; line-height:24px; margin-bottom:16px;  height:24px;}

#notify_container {
	position: fixed;
	bottom:0;
	width:100%;
	left:0;
	z-index:9;
}
.notify {
	border:none;
	background: #323232;
	font-family: Roboto;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	padding: 14px 28px;
	border-radius: 2px;
	min-width: 288px;
	max-width: 568px;
	color:#fff;
	display: flex!important;
	justify-content: space-between;
	align-items: center;
	margin:4px 8px;
}


	
.notify.success { color:#68EFAD; }
.notify.danger { color:#FF5252;}

.notify .action {
	background: inherit;
	display: inline-block;
	border: none;
	font-size: inherit;
	font-weight: 300;
	text-transform: uppercase;
	color: #ffeb3b;
	margin: 0px 0px 0px 24px;
	padding: 0px;
	min-width: min-content;
	float: right;
}






/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	max-width: 800px;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}
.tabs>section>p {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}

.tabs>label:before {

	font-weight: normal;
	margin-right: 10px;
}
.tabs>label[for*="1"]:before {
	content: "\f19a";
}
.tabs>label[for*="2"]:before {
	content: "\f17a";
}
.tabs>label[for*="3"]:before {
	content: "\f13b";
}
.tabs>label[for*="4"]:before {
	content: "\f13c";
}
/* Изменения стиля переключателей вкладок при наведении */
 
.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	border-top: 1px solid #009933;
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
 
@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 0;
	}
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}





