html, body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 4px;
}

#map {
  width: 100dvw;
  height: 100dvh;
}


#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100dvw;
  z-index: 9999999999999;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}


a {
  text-decoration: none;
  color: skyblue;
}

#footer:not(:empty) {
  background: rgba(255, 255, 255, 0.2); /* Translucent background */
  backdrop-filter: blur(10px); /* The "frosted" effect */
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.18); /* Subtle border */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Depth */
  padding: 16px;
  box-sizing: border-box;
  text-align: center;
}



#map .leaflet-div-icon {
  border: none;
  border-radius: 50%;
  background: rgba(0,15,255,0.5);
}



#map .leaflet-div-icon b {
  display:inline-block;
  border-radius: 3px;
}

.start-icon {
  background-color: lime;
  width: 8px;
  height: 8px;
    margin: 4px;
}

.finish-icon {
  background-color: red;
  margin: 4px;
  width: 8px;
  height: 8px;
}

.new-div-icon {
  background-color: yellow;
  width: 8px;
  margin: 4px;
  height: 8px;
  position: relative;

  &:before {
    content: attr(title);
    font-size: 8px;
    line-height: 8px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
  }
}


.menu {
  button {
    display: block;
    width: 320px;
    background: none;
    border: none;
    outline: none;
    &:hover {
      background-color: lightgray;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  .action {
    min-width: 60%;
    margin-left: 16px;
    display: flex;
    align-items: center;
    
    b {
      width: 2rem;
      height: 2rem;
      border: 0.2rem solid currentColor;
      border-radius: 50%;
      font-size: 2rem;
      line-height: 2rem;
      text-align:center
    }
    small {
      width: 1.2rem;
      height: 1.2rem;
      border: 0.2rem solid currentColor;
      border-radius: 50%;
    }
    span {
      flex-grow: 1;
      border-top: 0.2rem solid currentColor;
    }
    &:hover {
      color: darkblue
    }
    
    .add {
      color: green;
    }
    
    .remove {
      color: red;
    }
    
    .edit {
      color: orange;
    }
    
    .active {
      position:relative;
      &:after {
        content: '';
        position:absolute;
        width: 80%;
        height: 80%;
        background-color: currentColor;
        border-radius: 50%;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
        opacity: 80%;
      }
    }
  }

}