.dark-primary-color    { background: #D32F2F; }
.default-primary-color { background: #F44336; }
.light-primary-color   { background: #FFCDD2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

html, body { width:100%; height:100%; margin:0; padding:0; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; fint-size:14px; color:#343434;}

.text-center {text-align:center;}


.header { border-bottom: 1px solid #BDBDBD; padding-bottom:8px; margin-bottom:16px;}

.btn {
	height:36px; 
	margin:8px 6px;
	margin-left:0;
	border: none;
	border-radius:2px;
	padding:8px 16px;
	line-height: 20px;
    min-width: 88px;
	font-size:14px; 
	font-weight: 400;
	cursor: pointer;
    display: inline-block;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	outline: none;
	color:#343434;
	background-color:#fff;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1);
	-webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6 { font-weight: 200; margin: 16px 0 8px 0 }
h1 { font-size: 63px; }
h2 { font-size: 48px; }
h3 { font-size: 34px; }
h4 { font-size: 26px; }
h5 { font-size: 23px; }

p {margin-bottom:16px;}
.btn:hover, .btn:focus, .btn:active {
	color:#000;
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

.btn.btn-primary {
	background-color:#F44336;
	color:#fff;
}
.btn.btn-primary:hover {background:#D32F2F}


.btn-default:hover {
	background: #F44336;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.full-centred {
	height:100%;
	display: flex;
	justify-content:center;
	align-items:center;

}

#content {
	height:100%;
}





input {
  height: 40px;
  box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12)!important;
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background: #fff;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
}

.form-group {}

.form-group label { margin: 8px 0 8px 0; display:block; font-size:0.8em; }
.form-group input {  width:100%; margin-bottom: 16px;}

#notify_container {
	position: fixed;
	bottom:0;
	width:100%;
	left:0;
	z-index:9;
}
.notify {
	border:none;
	background: #323232;
	font-family: Roboto;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	padding: 14px 28px;
	border-radius: 2px;
	min-width: 288px;
	max-width: 568px;
	color:#fff;
	display: flex!important;
	justify-content: space-between;
	align-items: center;
	margin:4px 8px;
	

}


	
.notify.success {
		color:#68EFAD;
	}
.notify.warning {
		color:#FF5252;
	}
.notify.danger {
		color:#FF5252;
}

.notify .action {
	background: inherit;
	display: inline-block;
	border: none;
	font-size: inherit;
	font-weight: 300;
	text-transform: uppercase;
	color: #ffeb3b;
	margin: 0px 0px 0px 24px;
	padding: 0px;
	min-width: min-content;
	float: right;

}





